* {
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold !important;
}
.container {
  padding: 10px;
}
ul {
  /* background-color: yellow; */
  list-style: none;
}
.img-border {
  padding: 5px;
  border: 1px solid #e9e9e9;
  background-color: #81f3d3;
}
.nav-item > a {
  color: #000 !important;
}
p {
  font-family: 'Poppins', sans-serif;
}
.navbar {
}
.navbar-button {
  border: 1px solid black !important;
  border-radius: 100% !important;
  background: #000 !important;
}
.first-page {
  /* global 94%+ browsers support */
  background: linear-gradient(70deg, #e9e9e9 50%, #82f4d3 50%);
}
.first-page-image {
  height: 100vh;
  background-image: url('images/Img_0.png');
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
}
.heading {
  margin-top: 50px;
}
.shop-by-brand {
  margin-left: 50%;
  border: 10px solid #81f3d3;
  background: #81f3d3;
  text-align: center;
}

.social-media-icons {
  line-height: 60px;
}
.social-media-icons > li {
  border: 5px solid #82f4d3;
  border-radius: 50%;
  background: #000;
  width: 50px;
  text-align: center;
}
.social-media-icons > li:hover {
  background: white;
}

.rotate-text {
  /* transform: rotate(-90deg); */
}
.second-page {
  height: 100vh auto;
}

.third-page {
  height: 100vh auto;
}
.view-more {
  width: 100%;
  /* margin-left: 70%; */
  border: 10px solid #81f3d3;
  background: #81f3d3;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .shoeimage1 {
    width: 100%;
  }
  .sign-up-text {
    text-align: center !important;
  }
  .medium-remove {
    display: none;
  }
  .third-page {
    background-image: url('images/Layer45_1.png');
  }
}
.though {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #e9e9e9;
  height: 100%;
}
.footer-text {
  text-align: center;
  align-content: center;
}
.sign-up-text {
  text-align: start;
}
